@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-gray-blue);
  height: 100vh;
}

main {
  width: 75%;
  margin: 5rem auto;
  background-color: white;
  border-radius: 1rem;
}

.container__image {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.container__header {
  color: var(--dark-gray-blue);
  margin-bottom: 0.75em;
  line-height: 1.5;
}

.container__paragraph {
  color: var(--dark-blue);
  line-height: 1.75;
  margin-bottom: 2em;
}

section {
  margin: 2.5em;
  padding-bottom: 2.5em;
}

.details {
  display: flex;
  gap: 1.25em;
  align-items: center;
}

.details__image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.info__name {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.info__date {
  color: var(--dark-blue);
}

.img-wrapper {
  background-color: var(--light-gray-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_icon {
  height: 20px;
  width: 20px;
  background-color: var(--light-gray-blue);
}

.img-wrapper:hover {
  cursor: pointer;
}
